*.o
*.insert-header
remove-potcdate.sed
stamp-poT
core 
core.* 
*.new.po
clanbomber2
m4/*
autom4te.cache/*
src/.deps/*
**/Makefile
**/Makefile.in
po/Makefile.in.in
configure
ABOUT-NLS
aclocal.m4
compile
depcomp
INSTALL
install-sh
missing
config.guess
config.h
config.h.in
config.rpath
config.sub
config.log
config.status
**/*.exe